<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Приветствие</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootstrap5.ru/css/docs.css">

    <link href="../../static/css/signin.css" th:href="@{/css/signin.css}" rel="stylesheet" />
</head>
<body>
<div>
    <div sec:authorize="isAuthenticated()">
        <h2> Добро пожаловать</h2>
    </div>

    <h4><a href="/logout">Log out</a></h4>

</div>
</body>
</html>